# Flask Secret Key (random generate: python -c "import os; print(repr(os.urandom(24)))")
SECRET_KEY=your-key

MYSQL_HOST=localhost_or_hostname
MYSQL_USER=root_or_username
MYSQL_PASSWORD=your_mysql_password
MYSQL_DATABASE=your_db_name