<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Issue Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    <style>
        body {
            display: flex;
            flex-direction: column;
        }
        .layout {
            display: flex; /* Nav on left, sort with text */
            flex: 1;
        }
        nav.side-nav{
            width: 160px;
            border-right: 1px solid #ccc;
            padding: 16px;
        }
        .main-content {
            flex: 1; /* will take all other space */
            padding: 16px;
        }
    </style>
</head>
<body>

<!-- Main Page Top Header -->
<header>
    <h1>
        <a href="{{ url_for('health_check') }}">Issue Tracker</a>
    </h1>

    <!-- Man Page Top  -->
    <div>
        {% if current_user.is_authenticated %}
            <span>{{ current_user.nickname }}</span>
            <a href="{{ url_for('auth.logout') }}">Log Out</a>
        {% else %}
            <a href="{{ url_for('auth.login') }}">Log In</a>
            <a href="{{ url_for('auth.user_register') }}">Sign Up</a>
        {% endif %}
    </div>
</header>

<div class="layout">
    <!-- left nav -->
    <nav class="side-nav">
        <ul>
            <li><a href="{{ url_for('health_check') }}">Home</a></li>
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('auth.mypage') }}">My Page</a></li>
            <li><a href="{{ url_for('issue.issue_list_page') }}">Issue List</a></li>
            {% if current_user.role in ('admin', 'manager') %}
            <li><a href="{{ url_for('admin.admin_page') }}">Admin Page</a></li>
            {% endif %}
            {% endif %}
        </ul>
    </nav>

    <!-- main content -->
    <main class="main-content">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <script>
                    {% for message in messages %}
                        alert("{{ message }}")
                    {% endfor %}
                </script>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>

</div>

</body>
</html>