{% extends "base.html" %}
{% block content %}
<h1>{{ issue.issue_title }}</h1>
<p><strong>Project:</strong> {{ issue.project }}</p>
<p><strong>Description:</strong> {{ issue.issue_description }}</p>
<p><strong>Priority:</strong> {{ issue.priority }}</p>
<p><strong>Fatality:</strong> {{ issue.fatality }}</p>
<p><strong>Status:</strong> {{ issue.issue_status }}</p>
<p><strong>Reporter:</strong> {{ issue.reporter }}</p>
{% if current_user.is_authenticated %}
<!-- connected with issue_service.py -->
<form method="POST" action="{{ url_for('issue.update_issue_status', issue_id=issue.id) }}">
<select name="status">
    <option value="open">Open</option>
    <option value="in_progress">In Progress</option>
    <option value="not_issue">Not Issue</option>
    <option value="hold">Hold</option>
    <option value="closed">Closed</option>
</select>
<button>Update</button>
</form>
<form method="post" action="{{ url_for('issue.delete_issue', issue_id = issue.id) }}">
    <button type="submit">Delete</button><p>※Deletion cannot be undone※</p>
</form>
{% endif %}
{% endblock %}