{% extends "base.html" %}
{% block content %}
<!-- Show All Issue List -->
<h2>Issue List</h2>
<details>
    <summary>Register New Issue</summary>
    <form method="POST" action="{{ url_for('issue.create_issue') }}">
        <input type="text" name="project" placeholder="Project" required>
        <input type="text" name="issue_title" placeholder="Title" required>
        <br>
        <textarea name="issue_description" placeholder="Description" required></textarea>
        <br>
        <select name="priority">
            <option value="high">High</option>
            <option value="medium">Medium</option>
            <option value="low">Low</option>
        </select>
        <input type="text" name="fatality" placeholder="Fatality">
        <input type="text" name="version" placeholder="Version">
        <input type="text" name="reporter" placeholder="Reporter">
        <br>
        <button type="submit">Register Issue</button>
    </form>
</details>
<hr>

<!-- Search form -->
<form method="GET" action="{{ url_for('issue.search_issue') }}">
    <input type="text" name="q" placeholder="Keyword Search">
    <button type="submit">Search</button>
</form>

<hr>

<!-- Issue List Table -->
{% if issues %}
<table border="1"> <!-- need this for able to see a border without scc-->
    <thead>
        <tr>
            <th>ID</th>
            <th>Project</th>
            <th>Title</th>
            <th>Status</th>
            <th>Priority</th>
            <th>Reporter</th>
            <th>Log Date</th>
            <th>Update Date</th>
        </tr>
    </thead>
    <tbody>
        {% for issue in issues %} <!-- Bring issue from issue_list_page(): in issue_controller.py -->
        <tr>
            <td>{{ issue.id }}</td>
            <td>{{ issue.project }}</td>
            <td>
                <a href="{{ url_for('issue.get_issue', issue_id=issue.id) }}">
                   {{ issue.issue_title }}
                </a>
            </td>
            <td>{{ issue.issue_status }}</td>
            <td>{{ issue.priority }}</td>
            <td>{{ issue.reporter }}</td>
            <td>{{ issue.log_date }}</td>
            <td>{{ issue.update_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No Issue on the list yet</p>
{% endif %}

{% endblock %}