{% extends "base.html" %}
{% block content %}
<!-- Show All Issue List -->
<h2>Issue List</h2>
<!-- Register Issue Button -->
<a href="{{ url_for('issue.register_issue_page') }}" class = "btn-secondary">Register New Issue</a>

<hr>

<!-- Search form -->
<form method="GET" action="{{ url_for('issue.search_issue') }}">
    <input type="text" name="q" placeholder="Keyword Search">
    <button type="submit">Search</button>
</form>

<hr>

<!-- Issue List Table -->
{% if issues %}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Project</th>
            <th>Title</th>
            <th>Status</th>
            <th>Priority</th>
            <th>Reporter</th>
            <th>Log Date</th>
            <th>Update Date</th>
        </tr>
    </thead>
    <tbody>
        {% for issue in issues %} <!-- Bring issue from issue_list_page(): in issue_controller.py -->
        <tr>
            <td>{{ issue.id }}</td>
            <td>{{ issue.project }}</td>
            <td>
                <a href="{{ url_for('issue.get_issue', issue_id=issue.id) }}">
                   {{ issue.issue_title }}
                </a>
            </td>
            <td>{{ issue.issue_status }}</td>
            <td>{{ issue.priority }}</td>
            <td>{{ issue.reporter }}</td>
            <td>{{ issue.log_date }}</td>
            <td>{{ issue.update_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No Issue on the list yet</p>
{% endif %}

{% endblock %}