{% extends "base.html" %}
{% block content %}

<h2>Register New Issue</h2>
<form method="POST" action="{{ url_for('issue.create_issue') }}">
  <input type="text" name="project" placeholder="Project" required>
  <input type="text" name="issue_title" placeholder="Title" required>
  <br>
  <textarea name="issue_description" placeholder="Description" required></textarea>
  <br>
  <select name="priority">
    <option value="high">High</option>
    <option value="medium">Medium</option>
    <option value="low">Low</option>
  </select>
  <select name="fatality">
    <option value="high">High</option>
    <option value="medium">Medium</option>
    <option value="low">Low</option>
  </select>
  <input type="text" name="version" placeholder="Version" required>
  <br>
  <button type="submit">Register Issue</button>
  <a href="{{ url_for('issue.issue_list_page')}}">Cancel</a>
</form>

{% endblock %}